<div class='row'>
  <div class='col-xs-12 col-sm-6 col-md-8'>
    <h2>Sign up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :username %><br />
        <%= f.text_field :username, autofocus: true, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :email %><br />
        <%= f.email_field :email, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :password %><br />
        <%= f.password_field :password, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :member_type %><br />
        <%= f.select :member_type, options_for_select(%w{mentor innovator committee}, 'innovator'), class: 'member-type' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :company %><br />
        <%= f.text_field :company, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :job_title %><br />
        <%= f.text_field :job_title, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :biography %>
        <%= f.text_area :biography, class: 'form-control tinymce' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :avatar %>
        <%= f.file_field :avatar %>
      <% end %>

      <div>
        <%= f.submit "Sign up", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

<%= tinymce_assets %>
<%= tinymce %>
