<div class='container'>
  <h1><%= t(:'users.dashboard') %></h1>
  <div class='row'>
    <div class='col-md-7'>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:'events.upcoming') %></h3>
        </div>
        <div class="panel-body tab-content-container-fixed">
          <ul>
            <% @events.each do |event| %>
              <li>
                <%= link_to event_url(event) do %>
                  <%= event.name %>
                  <span class='pull-right'>
                    <%= event.starts_at.to_date.to_formatted_s(:long) %>
                    <%= t(:'common.at') %>
                    <%= event.venue_name %>
                  </span>
                <% end %>
                <%= event.description.html_safe %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-5'>
      <div class='panel panel-success'>
        <div class='panel-heading'>
          <h3 class='panel-title'><%= t(:'articles.articles') %></h3>
        </div>
        <div class='panel-body tab-content-container-fixed'>
          <%= render partial: 'articles/articles_tab', locals: {articles: @articles} %>
        </div>
      </div>
    </div>
  </div>
</div>



<div class='container'>
  <div class='row'>
    <div class='col-md-7'>
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:'users.community') %></h3>
        </div>
        <div class="panel-body tab-content-container-fixed">
          <ul>
            <% @users.each do |user| %>
              <li>
                <%= link_to user_url(user), style: 'font-size: 13px;' do %>
                  <%= image_tag user.avatar.url(:thumb), class: 'small-img' %>
                  <%= user.first_name && user.last_name ? "#{user.first_name} #{user.last_name}" : user.username %>
                  <span style='margin-left: 30px;'>
                    <%= "#{user.job_title} #{t(:'common.at')} #{user.company}" %>
                    <span class='label label-success'><%= user.member_type %></span>
                  </span>
                <% end %>
              </li>
              <br />
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-5'>
      <div class='panel panel-info'>
        <div class='panel-heading'>
          <h3 class='panel-title'><%= t(:'projects.startups') %></h3>
        </div>
        <div class='panel-body tab-content-container-fixed'>
          <%= render partial: 'projects/projects_tab', locals: {projects: @projects} %>
        </div>
      </div>
    </div>
  </div>
</div>
