<div class='container'>
  <h1><%= t(:'users.dashboard') %></h1>
  <div class='row'>
    <div class='col-md-7'>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title"><%= t(:'events.upcoming') %></h3>
        </div>
        <div class="panel-body tab-content-container-fixed">
          <ul>
            <% @events.each do |event| %>
              <li>
                <%= link_to event_url(event) do %>
                  <%= event.name %>
                  <span class='pull-right'>
                    <%= event.starts_at.to_date.to_formatted_s(:long) %>
                    <%= t(:'events.at') %>
                    <%= event.venue_name %>
                  </span>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-5'>
      <div class='panel panel-success'>
        <div class='panel-heading'>
          <h3 class='panel-title'><%= t(:'articles.articles') %></h3>
        </div>
        <div class='panel-body tab-content-container-fixed'>
          <%= render partial: 'articles/articles_tab', locals: {articles: @articles} %>
        </div>
      </div>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-12'></div>
  </div>
</div>

