<div class='container well'>
  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-md-8'>
      <h2><%= t(:'users.edit_profile') %></h2>

      <%= form_for @user, html: { role: 'form', multipart: true } do |f| %>
        <%= render partial: 'shared/errors', locals: {object: @user} %>

        <%= render partial: 'form', locals: {f: f, edit: true} %>

        <div>
          <%= f.submit t(:'common.save'), class: 'btn btn-success' %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= tinymce_assets %>
<%= tinymce %>

