<div class='container'>
  <div class='row'>
    <% if @user.id == current_user.id %>
      <div class='pull-right'>
        <%= link_to t(:'users.change_your_password'), edit_user_registration_path, class: 'btn btn-success' %>
        <%= link_to t(:'users.edit_profile'), edit_user_url(@user), class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div><br />

<div class="container">
  <div class='jumbotron' id='user-profile'>
    <div class="pull-left" id='user-info'>
      <h2 class="media-heading"><%= @user.first_name %> <%= @user.last_name %></h2>
      <h4><%= @user.job_title %> at <%= @user.company %></h4>
      <h4><%= @user.email %></h4>
      <% if @user.linkedin_url %>
        <h4><i class="fa fa-linkedin-square"></i> <a href="<%= @user.linkedin_url %>" target='_blank'>Linkedin Profile</a></h4>
      <% end %>
      <h4><%= @user.country.try(:name) %></h4>
      <% if @user.referrer %>
        <h4>Referred By <%= "#{@user.referrer.first_name} #{@user.referrer.last_name}" %></h4>
      <% end %>
      <hr style="margin:8px auto">

      <div id='user-labels'>
        <span class="label label-primary"><%= @user.member_type %></span>
        <% @user.industries.each do |industry| %>
          <span class='label label-success'><%= industry %></span>
        <% end %>
      </div>
    </div>
    <div class="pull-right">
      <%= image_tag @user.avatar.url(:medium), style: 'width: 200px; height: 200px;' %>
    </div>
  </div>
</div>

<div class='container'>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs-container">
    <li class='active'><a href="#biography" data-toggle="tab">Biography</a></li>
    <li><a href="#projects" data-toggle="tab"><%= t(:'projects.projects') %></a></li>
    <li><a href="#articles" data-toggle="tab"><%= t(:'articles.articles') %></a></li>
    <% if current_user.admin %>
      <li><a href="#interview-answers" data-toggle="tab"><%= t(:'users.answers') %></a></li>
    <% end %>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content tab-content-container">
    <div class="tab-pane active" id="biography">
      <%= @user.biography.html_safe %>
    </div>
    <div class="tab-pane" id="projects">
      <ul id='user-projects'>
        <% @user.projects.each do |project| %>
          <li class='user-project'>
            <%= link_to project.title, project_url(project), class: 'user-project-link' %>
            <% project.tags.each do |tag| %>
              <span class='label label-info'><%= tag.name %></span>
            <% end %>
            <hr class="featurette-divider">
          </li>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane" id="articles">
      <%= render partial: 'articles/articles_tab', locals: {articles: @user.articles} %>
    </div>
    <% if current_user.admin %>
      <div class="tab-pane" id="interview-answers">

        <div id="age" class="interview-question"><%= t(:'users.age_question') %></div>
        <div class="interview-answer"><%= @user.age %></div>

        <div id="involvement-in-asean" class="interview-question"><%= t(:'users.involvement_in_asean_question') %></div>
        <div class="interview-answer"><%= @user.involvement_in_asean %></div>

        <div id="problem-solving-skills" class="interview-question"><%= t(:'users.problem_solving_skills_question') %></div>
        <div class="interview-answer"><%= @user.problem_solving_skills %></div>

        <div id="contribution-to-society" class="interview-question"><%= t(:'users.contribution_to_society_question') %></div>
        <div class="interview-answer"><%= @user.contribution_to_society %></div>

        <div id="leadership-quality" class="interview-question"><%= t(:'users.leadership_quality_question') %></div>
        <div class="interview-answer"><%= @user.leadership_quality %></div>

        <div id="industry-expertise" class="interview-question"><%= t(:'users.industry_expertise_question') %></div>
        <div class="interview-answer"><%= @user.industry_expertise %></div>

        <div id="vision" class="interview-question"><%= t(:'users.vision_question') %></div>
        <div class="interview-answer"><%= @user.vision %></div>

        <div id="entrepreneurial" class="interview-question"><%= t(:'users.entrepreneurial_question') %></div>
        <div class="interview-answer"><%= @user.entrepreneurial %></div>

      </div>
    <% end %>
  </div>
</div>
