<div class='container'>
  <div class='row'>
    <% if @user.id == current_user.id %>
      <div class='pull-right'>
        <%= link_to t(:'users.change_your_password'), edit_user_registration_path, class: 'btn btn-success' %>
        <%= link_to t(:'users.edit_profile'), edit_user_url(@user), class: 'btn btn-info' %>
      </div>
    <% end %>
  </div>
</div><br />

<div class="container">
  <div class='jumbotron' id='user-profile'>
    <div class="pull-left">
      <h2 class="media-heading"><%= @user.first_name %> <%= @user.last_name %></h2>
      <h4><%= @user.job_title %> at <%= @user.company %></h4>
      <h4><%= @user.email %></h4>
      <hr style="margin:8px auto">

      <div id='user-labels'>
        <span class="label label-primary"><%= @user.member_type %></span>
        <% @user.industries.each do |industry| %>
          <span class='label label-success'><%= industry %></span>
        <% end %>
      </div>
    </div>
    <div class="pull-right">
      <%= image_tag @user.avatar.url(:medium), style: 'width: 200px; height: 200px;' %>
    </div>
  </div>
</div>

<div class='container'>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-tabs-container">
    <li class='active'><a href="#biography" data-toggle="tab">Biography</a></li>
    <li><a href="#projects" data-toggle="tab"><%= t(:'projects.projects') %></a></li>
    <li><a href="#articles" data-toggle="tab"><%= t(:'articles.articles') %></a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content tab-content-container">
    <div class="tab-pane active" id="biography">
      <%= @user.biography.html_safe %>
    </div>
    <div class="tab-pane" id="projects">
      <ul id='user-projects'>
        <% @user.projects.each do |project| %>
          <li class='user-project'>
            <%= link_to project.title, project_url(project), class: 'user-project-link' %>
            <% project.tags.each do |tag| %>
              <span class='label label-info'><%= tag.name %></span>
            <% end %>
            <hr class="featurette-divider">
          </li>
        <% end %>
      </ul>
    </div>
    <div class="tab-pane" id="articles">
      <%= render partial: 'articles/articles_tab', locals: {articles: @user.articles} %>
    </div>
  </div>
</div>
