<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to image_tag('logo.jpeg'), root_url, class: 'navbar-brand' %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to t(:'common.about'), about_url %></li>
        <li><%= link_to t(:'common.fellows'), fellows_url %></li>
        <li><%= link_to t(:'common.news'), '#' %></li>
        <li><%= link_to t(:'common.contact'), contact_url %></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><a href="#"><%= current_user.username %></a></li>
          <li><%= link_to t(:'common.sign_out'), destroy_user_session_url, method: :delete %></li>
        <% else %>
          <li><%= link_to t(:'common.sign_in'), new_user_session_url %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
