<h1><%= @event.name %></h1>
<div class='register'>
  <% if !current_user.registered_for_event?(@event) %>
    <%= link_to t(:'register.individual'), '#', class: 'btn btn-primary user-register-event' %>
  <% else %>
    <%= link_to t(:'unregister.individual'), '#', class: 'btn btn-warning user-unregister-event', data: {id: @user_registration_id} %>
  <% end %>

  <!-- FIXME: get that register/unregister logic done! -->
  <%#= if user hasn't registered for event %>
    <%= link_to t(:'register.project'), '#', class: 'btn btn-success project-register-event' %>
  <%# else %>
  <%# end %>
</div>


<script type='text/javascript'>
    $(document).ready(function (){
        $('div.register').on('click', 'a.user-register-event', function(event) {
            event.preventDefault();
            $.ajax({
                url: '/user_event_registrations',
                type: 'POST',
                data: {user_event_registration: {user_id: <%= current_user.id %>, event_id: <%= @event.id %>}},
                dataType: 'json',
                success: function(data) {
                    $('.user-register-event').remove();
                    var unRegister = $("<a href='#' class='btn btn-warning user-unregister-event' data-remote='true' data-id=" + data.id + ">Unregister Event</a>");
                    $('.register').prepend(unRegister);

                }
            });
        });

          $('div.register').on('click', 'a.user-unregister-event', function(event) {
              event.preventDefault();
              var regId = $(this).attr('data-id');
              $.ajax({
                  url: '/user_event_registrations/' + regId,
                  type: 'DELETE',
                  dataType: 'json',
                  success: function(data, event) {
                      $('.user-unregister-event').remove();
                      var register = $("<a href='#' class='btn btn-primary user-register-event'>Register as an Individual</a>");
                      $('.register').prepend(register);
                  }
              });
          });
       //  $('.project-register-event').click(function(event) {
       //      event.preventDefault();
       //      $.ajax({
       //          url: '/project_event_registrations',
       //          type: 'POST',
       //          // FIXME: for now user's relationship with project is yet to be defined, need to be fixed
       //          data: {project_event_registration: {project_id: 1, event_id: <%= @event.id %>}},
       //          dataType: 'json',
       //          success: function(event, data) {
       //              $('.project-register-event').remove();
       //              $('.register').append("<a href='#' class='btn btn-warning project-unregister-event'>Unregister Event</a>");
       //          }
       //      });
       //  });

       //  $('div.register > .project-unregister-event').click(function(event) {
       //      event.preventDefault();
       //      $.ajax({
       //          url: '/project_event_registrations',
       //          type: 'DELETE',
       //          data: {id: 1},
       //          dataType: 'json',
       //          success: function(event, data) {
       //              $('.project-unregister-event').remove();
       //              $('.register').append("<a href='#' class='btn btn-success project-register-event'>Register for Your Startup</a>");
       //          }
       //      });
       //  });
    });
</script>
