<div class='row'>
  <div class='col-xs-12 col-sm-6 col-md-8'>
    <h1><%= t(:'projects.new_project') %></h1>

    <%= nested_form_for @project, html: { role: 'form', multipart: true } do |f| %>
      <%= content_tag :div, class: 'form-group' do %>
    	  <%= f.label :title %>
    	  <%= f.text_field :title, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
    	  <%= f.label :description %>
    	  <%= f.text_area :description, class: 'form-control tinymce' %>
      <% end %>

    	<%= content_tag :div, class: 'form-group' do %>  
        <%= f.label :video_url %>
    	  <%= f.text_field :video_url, class: 'form-control' %>
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :images %>
        <%= f.fields_for :images do |i| %>
          <% if i.object.new_record? %>
            <%= i.file_field :avatar %>
          <% else %>
            <%= image_tag(i.url(:thumb)) %>
            <%= i.hidden_field :_destroy %>
            <%= i.link_to_remove t(:'images.remove') %>
          <% end %>
        <% end %>
        <!-- <div class='form-group'>
          <input id='upload-image' class='form-control' type='text'><br />
          <button class='btn btn-primary upload-image-button'>
            <%#= t(:'images.upload') %>
          </button>
        </div> -->
      <% end %>

      <%= content_tag :div, class: 'form-group' do %>
        <%= f.label :project_tags %>
        <%= f.fields_for 'project_tags_attributes', @project_tag do |t| %>
          <%= t.select 'tag_id', 
            @tags.collect { |t| [t.name, t.id] }, 
            {}, 
            { multiple: true, id: 'project-tag' } %>
        <% end %>
      <% end %>

      <%= f.link_to_add t(:'images.add'), :images %>

      <%= content_tag :div, class: 'form-group' do %>
    	 <%= f.submit t(:'common.create'), class: 'btn btn-primary' %>
      <% end %>
    <% end %>
  </div>
</div>

<%= tinymce_assets %>
<%= tinymce %>