<div class='container'>
  <div class='row'>
    <div class='col-xs-12 col-sm-6 col-md-8'>
      <h1><%= t(:'projects.new_project') %></h1>
      <div class='well'>
        <%= nested_form_for @project, html: { role: 'form', multipart: true } do |f| %>

          <%= render partial: 'shared/errors', locals: {object: @project} %>

          <%= content_tag :div, class: 'form-group' do %>
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          <% end %>

          <%= content_tag :div, class: 'form-group' do %>
            <%= f.label :description %>
            <%= f.text_area :description, class: 'form-control tinymce tinymce-text-area' %>
          <% end %>

          <%= content_tag :div, class: 'form-group' do %>
            <%= f.label :youtube_video_id, t(:'projects.youtube_video_id') %>
            <%= f.text_field :youtube_video_id, class: 'form-control' %>
          <% end %>

          <%= render partial: 'images/nested_form', locals: {f: f} %>

          <%= content_tag :div, class: 'form-group' do %>
            <%= f.label :project_tags, t(:'projects.tags') %><br />
            <%= f.fields_for :project_tags do |pt| %>
              <%= pt.select 'tag_ids',
                @tags.collect { |t| [t.name, t.id] },
                {},
                { multiple: true, id: 'project-tag' } %>
            <% end %>
          <% end %>

          <%= content_tag :div, class: 'form-group' do %>
            <%= f.label :user_projects, t(:'projects.team') %><br />
            <%= f.fields_for :user_projects do |pt| %>
              <%= pt.select 'user_ids',
                @users.collect { |t| [t.username, t.id] },
                {},
                { multiple: true, id: 'project-user' } %>
            <% end %>
          <% end %>

          <%= content_tag :div, class: 'form-group' do %>
            <%= f.submit t(:'common.create'), class: 'btn btn-success' %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= tinymce_assets %>
<%= tinymce %>
