<!-- FIXME: make the content into sections of different color -->
<div id='project-video'>
  <a id="bgndVideo"
    class="player"
    data-property="{
      videoURL:'http://youtu.be/<%= @project.youtube_video_id %>',
      containment: 'body',
      autoPlay:true,
      mute:true,
      loop: true,
      startAt:0,
      opacity:1,
      showControls: false,
      showYTLogo: false,
      quality: 'highres'}">
  </a>
</div>

<!-- FIXME: ProjectVideoViewModel -->
<div id='project-video-controls'>
  <div onclick="$('#bgndVideo').unmuteYTPVolume()" class='volume-on'>
    <i class="fa fa-volume-up fa-3x"></i>
  </div>

  <div onclick="$('#bgndVideo').muteYTPVolume()" class='volume-off'>
    <i class="fa fa-volume-off fa-3x"></i>
  </div>

  <div onclick="$('#bgndVideo').pauseYTP()" class='pause'>
    <i class="fa fa-pause fa-3x"></i>
  </div>

  <div onclick="$('#bgndVideo').playYTP()" class='play'>
    <i class="fa fa-play fa-3x"></i>
  </div>
</div>

<div class='row' id='project-container'>
  <ol class='breadcrumb'>
    <li><%= link_to t(:'common.home'), root_url %></li>
    <li><%= link_to t(:'projects.projects'), projects_url %></li>
    <li class='active'><%= @project.title %></li>
  </ol>

  <div class='page-header'>
    <span class='startup-name'><%= @project.title %></span>
    <% @project.tags.each do |tag| %>
      <span class='label label-info startup-tag'><%= tag.name %></span>
    <% end %>
  </div>

  <h1><%= t(:'projects.description') %></h1>
  <div class='well'>
    <%= @project.description.html_safe %>
  </div>

  <% if @project.users.length > 0 %>
    <hr class="featurette-divider">
    <h1><%= t(:'projects.team') %></h1>
    <% @project.users.each do |user| %>
      <%= link_to user_url(user) do %>
        <%= image_tag user.thumb_url,
          class: 'project-member',
          data: {toggle: 'tooltip', placement: 'bottom', title: user.username} %>
      <% end %>
    <% end %>
  <% end %>

  <% if @project.contact_email || @project_number %>
    <hr class="featurette-divider">
    <h1><%= t(:'projects.contact_us') %></h1>
    <div class='list-group'>
      <a class='list-group-item list-group-item-warning'>
        <h4 class='list-group-item-heading'><%= t(:'common.email') %></h4>
        <p class='list-group-item-text'><%= @project.contact_email || t(:'projects.no_email') %></p>
      </a>
      <a class='list-group-item list-group-item-success'>
        <h4 class='list-group-item-heading'><%= t(:'common.number') %></h4>
        <p class='list-group-item-text'><%= @project.contact_number || t(:'projects.no_number') %></p>
      </a>
    </div>
  <% end %>




  <%= render partial: 'comments/comments', object: @project.comments %>
  <%= render partial: 'comments/new', locals: { parent: @project } %>
</div>

<script type='text/javascript'>
    $(document).ready(function() {
        $('.player').mb_YTPlayer();
        $('.project-member').tooltip();
        //FIXME: This fixes the problem with the margin between the project content and footer,
        // showing parts of the video. But probably not the best solution?
        $('div#footer').css('margin-top', '0px');
    });
</script>
