<div style="position: fixed; z-index: -99; width: 100%; height: 500px">
  <iframe frameborder="0" height="100%" width="100%"
    src=<%#= "#{@project.video_url}?autoplay=1&controls=0&showinfo=0&autohide=1" %>>
  </iframe>
</div>
<!-- <embed width='100%' -->
<!--   height='500px' -->
<!--   src=<%#= "#{@project.video_url}?autoplay=1&#38;controls=0&#38;loop=1&#38;modestbranding=1&#38;showinfo=0" %> -->
<!--   frameborder='0' -->
<!--   controls=2 -->
<!--   allowfullscreen></embed> -->
<div class='container'>
  <ol class='breadcrumb'>
    <li><%= link_to t(:'common.home'), root_url %></li>
    <li><%= link_to t(:'projects.projects'), projects_url %></li>
    <li class='active'><%= @project.title %></li>
  </ol>

  <div class='page-header'>
    <h1><%= @project.title %></h1> 
    <% @project.tags.each do |tag| %>
      <span class='label label-primary'><%= tag.name %></span>
    <% end %>
  </div>

  <%= render partial: 'comments/comments', object: @project.comments %>
  <%= render partial: 'comments/new', locals: { parent: @project } %>
</div>
