<ol class='breadcrumb'>
  <li><%= link_to t(:'common.home'), root_url %></li>
  <li><%= link_to t(:'projects.projects'), projects_url %></li>
  <li class='active'><%= @project.title %></li>
</ol>

<div class='page-header'>
  <h1><%= @project.title %></h1> 
  <% @project.tags.each do |tag| %>
    <span class='label label-primary'><%= tag.name %></span>
  <% end %>
</div>

<div><%= @project.description.html_safe %></div>

<embed width='500' 
  height='500' 
  src=<%= @project.video_url %>
  frameborder='0'
  allowfullscreen></embed>

<% @project.images.each do |image| %>
  <%= image_tag image.avatar.url(:medium) %>
<% end %>

<%= render partial: 'comments/comments', object: @project.comments %>
<%= render partial: 'comments/new', locals: { parent: @project } %>