<li class='media comment' id='{{comment.id}}'>
  <a class='pull-left' href='#'>
    <img src='{{comment.user.thumb_url}}' class='media-object'>
  </a>

  <div class='media-body'>
    <h4 class='media-heading'>
      <a href='/users/{{comment.user.username}}'>{{comment.user.username}}</a>
    </h4>
    <p>{{comment.content}}</p>
  </div>
</li>
