<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<!-- If you delete this meta tag, Half Life 3 will never be released. -->
<meta name="viewport" content="width=device-width" />

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Kairos Society ASEAN</title>

<link rel="stylesheet" type="text/css" href="email.css" />

</head>

<body bgcolor="#FFFFFF">

<%= render partial: 'shared_mailer/header' %>

<!-- BODY -->
<table class="body-wrap">
  <tr>
    <td></td>
    <td class="container" bgcolor="#FFFFFF">

      <div class="content">
      <table>
        <tr>
          <td>
            <h3>Hello,</h3>
            <p class="lead">
              There is a new announcement. <a href='<%= @event_url %>'>Check it out here!</a>
            </p>

            <!-- Callout Panel -->
            <div class="callout">
              <p><%= @event.name %></p> <br />
              <p><%= @event.description.html_safe %></p> <br />
              <p>
                <p><%= t(:'events.location') %></p>
                <p><%= @event.venue_name %></p>
                <address>
                  <% Event::ADDRESS_COMPONENTS.each do |component| %>
                    <% if @event.send(component) %>
                      <p><%= @event.send(component) %></p>
                    <% end %>
                  <% end %>
                </address>
              </p><br />
            </div><!-- /Callout Panel -->

            <p>
              <p>Your Sincerely,</p>
              <p>Kairos Society ASEAN</p>
            </p>
            <%= render partial: 'shared_mailer/social_media' %>
          </td>
        </tr>
      </table>
      </div><!-- /content -->
    </td>
    <td></td>
  </tr>
</table><!-- /BODY -->

</body>
</html>

